.header {
    background: #008cba;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    height: 180px;
    border-bottom: 2px solid #0f596d;
    margin: 20px;
}

.header h1 {
    padding: 20px;
    text-shadow: #000 1px 1px 2px;
    font-style: italic;

}

.header a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    text-shadow: #000 1px 2px 3px;
}

.header p {
    padding: 5px;
    text-shadow: #000 1px 2px 3px;
}

.about-me {
    border: 1.5px solid #ccccce;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;

}

.about-me h2 {
    color: #008cba;
    text-transform: capitalize;
    text-indent: 20px;
}

.about-me hr {
    border: none;
    height: 1.3px;
    background-color: #008cba;
    margin: 10px;
}

.about-me p {
    padding-top: 20px;
    word-spacing: 0.06em;
    text-indent: 20px;
    color: #4b5155;
}

.about-me p span {
    font-style: italic;
}

.about-me p:first-letter {
    color: #008cba;
    font-size: 30px;
    font-weight: 500;

}

.projects {
    border: 1.5px solid #ccccce;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }
  
  .projects h2 {
    color: #008cba;
    text-indent: 20px;
  }
  
  .projects hr {
    border: none;
    height: 1.3px;
    background-color: #008cba;
    margin: 10px;
  }
  
  .projects ul li {
    font-weight: normal;
    margin-bottom: 10px;
    list-style: disc;
    text-indent: 20px;
  }
  
  .projects .title {
    font-weight: bold;
  }
  
  .projects .desc {
    font-style: normal;
  }
  
  .contact{
    border: 1.5px solid #ccccce;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
  }

  .contact h2{
    color: #008cba;
    text-indent: 20px;
  }

  .contact hr{
    border: none;
    height: 1.3px;
    background-color: #008cba;
    margin: 10px;
  }

  .contact input{
    border: 1.5px solid #ccccce;
    border-radius: 4px;
    
    margin: 0 10px 10px 0;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }

  .contact-row {
    text-indent: 20px;
    padding: 20px 20px 20px 0 ;
  }

  .contact-row input[type=text]{
    
  }
  .contact-row input[type=text]:focus-within{
    border: 2px solid #000000;
  }

 

  